@media (min-width: 321px) {
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    src: url("https://github.com/IvanBurk/Test/blob/100bbf1ae017966bd57735fc64aa64eae83fa83b/Test/Fonts/Montserrat/Montserrat-Medium.ttf");
  }

  body {
    background: #e5e5e5;
    max-width: 1280px;
    max-height: 650px;
    font-family: Montserrat;
    font-weight: 600;
  }

  .main {
    display: flex;
    width: 1120px;
    height: 500px;
    padding: 75px 80px;
    position: relative;
  }

  .card {
    width: 560px;
    height: 500px;
    background: linear-gradient(180deg, #428a60 0%, #35734f 100%);
    top: 75px;
    left: 80px;
  }

  .nav {
    margin: 40px;
    width: 480px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .link_Reduslim_ECO {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .picture_pills {
    position: absolute;
    width: 465px;
    height: 255px;
    left: 137px;
    top: 287px;
    z-index: 1;
  }

  .eclipce {
    position: absolute;
    width: 688px;
    height: 688px;
    left: 315px;
    top: -19px;
  }

  .circle {
    position: absolute;
    width: 398px;
    height: 398px;
    left: 100px;
    top: 146px;
    z-index: 0;
  }

  .card_2 {
    width: 560px;
    height: 500px;
    background: white;
  }

  .header {
    width: 560px;
    height: 136px;
    background: #f8f8f8;
  }

  .heading {
    font-size: 30px;
    line-height: 39px;
    margin: 0;
    padding: 29px 128px;
    text-align: center;
  }

  .forms {
    padding: 52px 123px 60px 117px;
    width: 320px;
    height: 286px;
  }

  .heading-form {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
  }

  .color_text {
    color: green;
  }

  .name {
    background: #f4f4f4;
    border: 2px solid #e4e4e4;
    color: #212121;
    opacity: 0.2;
    border-radius: 5px;
    padding: 16px 235px 16px 20px;
    width: 65px;
    height: 18px;
    margin-top: 10px;
  }

  .phone {
    margin-top: 20px;
    width: 320px;
    height: 76px;
  }

  .form_flex {
    display: flex;
    margin-top: 10px;
  }

  .tel {
    background: #f4f4f4;
    border: 2px solid #e4e4e4;
    color: #212121;
    opacity: 0.2;
    border-radius: 5px;
    padding: 16px 36px 16px 20px;
    width: 128px;
    height: 18px;
  }

  .img_flag {
    position: absolute;
    padding-left: 68px;
    padding-top: 17px;
  }

  .select {
    background: #fdfdfd;
    border: 2px solid #f9f9f9;
    border-radius: 5px;
    width: 116.18px;
    height: 54px;
    margin-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 20px;
    background-image: url(https://github.com/IvanBurk/Test/blob/main/Test/img/Polygon%201.png?raw=true);
    background-repeat: no-repeat;
    background-position: right 20px center;
  }

  .button {
    width: 325px;
    height: 42px;
    background: #428a60;
    border-radius: 5px;
    border: 2px solid #428a60;
    color: white;
    margin-top: 38px;
    z-index: 1;
    position: relative;
  }

  .button_text {
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
  }

  .button_img {
    width: 15px;
    height: 10px;
    margin-left: 5px;
  }
  .footer {
    display: none;
  }
}

@media (max-width: 320px) {
  body {
    width: 320px;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    font-family: Montserrat;
    font-weight: 600;
  }

  .main {
    width: 280px;
    height: 687px;
    background-color: white;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .card {
    padding-top: 40px;
    height: 271px;
    background: white;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .link_Reduslim_ECO {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }

  .link_Reduslim_ECO:first-child {
    margin-right: 150px;
  }

  .picture_pills {
    width: 223px;
    height: 122px;
    margin-left: 36px;
    margin-right: 21px;
    margin-top: 57px;
    z-index: 1;
    position: absolute;
  }

  .eclipce {
    display: none;
  }

  .circle {
    width: 202px;
    height: 202px;
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 9px;
    z-index: 0;
    position: absolute;
  }

  .heading {
    font-size: 30px;
    line-height: 39px;
    margin: 0;
    text-align: center;
  }

  .forms {
    margin-top: 28px;
  }

  .heading-form {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
  }

  .color_text {
    color: green;
  }

  .name {
    background: #f4f4f4;
    border: 2px solid #e4e4e4;
    color: #212121;
    opacity: 0.2;
    border-radius: 5px;
    padding: 16px 205px 16px 10px;
    width: 61px;
    height: 18px;
    margin-top: 10px;
  }

  .phone {
    margin-top: 20px;
    height: 76px;
  }

  .form_flex {
    display: flex;
    margin-top: 10px;
  }

  .tel {
    background: #f4f4f4;
    border: 2px solid #e4e4e4;
    color: #212121;
    opacity: 0.2;
    border-radius: 5px;
    padding: 16px 36px 16px 10px;
    width: 124px;
    height: 18px;
  }

  .img_flag {
    position: absolute;
    padding-left: 50px;
    padding-top: 17px;
  }

  .select {
    background: #fdfdfd;
    border: 2px solid #f9f9f9;
    border-radius: 5px;
    width: 96.18px;
    height: 54px;
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 10px;
    background-image: url(https://github.com/IvanBurk/Test/blob/main/Test/img/Polygon%201.png?raw=true);
    background-repeat: no-repeat;
    background-position: right 10px center;
  }

  .button {
    width: 280px;
    height: 42px;
    background: #428a60;
    border-radius: 5px;
    border: 2px solid #428a60;
    color: white;
    margin-top: 28px;
    z-index: 1;
    position: relative;
  }

  .button_text {
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
  }

  .button_img {
    width: 15px;
    height: 10px;
    margin-left: 5px;
  }

  .footer {
    background: #f8f8f8;
    width: 320px;
    height: 40px;
    margin-bottom: 59px;
    font-weight: 600;
  }

  .footer_items {
    list-style-type: none;
    display: flex;
    padding: 11px 80px 11px 76px;
    margin: 0;
  }

  li:not(:first-child) {
    margin-left: 22px;
  }

  .lock_1 {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 161.4px;
    top: 760px;
  }

  .lock_2 {
    width: 11.14px;
    height: 9.29px;
  }
}
